@{
    ViewData["Title"] = "Home Page";
}
<link rel="detallePais" href="detallePais.cshtml">
<table>
 <tr>
    @for(int i = 0; i < ViewBag.listaPaises.Count; i++){
        <th><a href = '@Url.Action("DetallePais",new {pais = ViewBag.listaPaises[i].nombre})'>Detalles del país</a></th>
    }
 </tr>
 <tr>
    @for(int i = 0; i < ViewBag.listaPaises.Count; i++){
        <td><img src = "@ViewBag.listaPaises[i].imgBandera" alt = "Imágenes"></td>
    } 
 </tr> 
</table>

